<head> 
        <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<div class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/player_stats">Player Statistics</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/injuries">Injury Report</a></li>
    <li><a href="/standings">Standings</a></li>
    <li><a href="/seasons">Seasons</a></li>
    </ul>
</div>

{{!-- Create a table --}}
<table id="injuries-table">

    {{!-- Header section --}}
    <thead>
                <tr>
                <th>ID</th>
                <th>Year</th>
                <th>Player ID</th>
                <th>Player Name</th>
                <th>Games Missed</th>
                <th>Injury Type</th>
                <th>Delete</th>
                <tr>

    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.injury_id}}</td>
            <td>{{this.season_year}}</td>
            <td>{{this.player_id}}</td>
            <td>{{this.player_name}}</td>
            <td>{{this.games_missed}}</td>
            <td>{{this.injury_type}}</td>
            <td><button onclick="deleteInjury({{this.injury_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>

<!-- Add Injury Form-->

    <form id="add-injury-form-ajax" class="add-form">
            <legend>Add Injury Report</legend>
            <ul>
            <fieldset class="fields">
                <select name="input-year" id="input-year" required>
                <option value="" disabled selected>Select A Year</option>
                {{#each secData}}
                <option value="{{this.season_id}}">{{this.season_year}}</option>
                {{/each}}
                </select>
                <select name="input-player" id="input-player" required>
                <option value="" disabled selected>Select A Player</option>
                {{#each thirdData}}
                <option value="{{this.player_id}}">{{this.player_fname}} {{this.player_lname}}: {{this.player_id}}</option>
                {{/each}}
                </select>
                <li><input type="number" name="games-missed" id="input-games-missed" placeholder="Games Missed"></li>
                <li><input type="text" name="injury" id="input-injury" placeholder="Describe Injury"></li>
            </fieldset>
            </ul>
            <input class="btn" type="submit" value="Add">
        </form>

<!-- Update Player Form-->

    
    <form id="update-injury-form-ajax" class="add-form">
    <legend>Update Injury Report</legend>
    <ul>
    <fieldset class="fields">
    <select name="input-injury" id="mySelect" onchange="sendID(document.getElementById('mySelect').value)" required>
        <option value="" disabled selected>Select An Injury</option>
        {{#each data}}
        <option value="{{this.injury_id}}">{{this.player_name}} - Injury ID: {{this.injury_id}}</option>
        {{/each}}
    </select>
    <select name="input-injury" id="input-year-update" required>
        <option value="" disabled selected>Select a year</option>
        {{#each secData}}
        <option value="{{this.season_id}}">{{this.season_year}}</option>
        {{/each}}
    </select>
    {{!-- <li><input type="number" name="year" id="input-year-update" placeholder="Year"></li> --}}
    <li><input type="number" name="player" id="input-player-update" placeholder="Player"></li>
    <li><input type="number" name="games-missed" id="input-games-missed-update" placeholder="Games Missed"></li>
    <li><input type="text" name="injury" id="input-injury-update" placeholder="Describe Injury"></li>
    </fieldset>
    </ul>
    <input type="submit">
    </form>

<script src="./js/add_injury.js"></script>
<script src="./js/fill_injury.js"></script>
<script src="./js/delete_injury.js"></script>
<script src="./js/update_injury.js"></script>