<!-- index.hbs -->
<head> 
        <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<h1>Team Canuck</h1>

<div class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/injuries">Injury Report</a></li>
    <li><a href="/seasons">Seasons</a></li>
    </ul>
</div>

<table id="player-table">

    {{!-- Header section --}}
    <thead>

        {{!-- Table headers --}}
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Date of Birth</th>
            <th>Position</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.player_id}}</td>
            <td>{{this.player_fname}}</td>
            <td>{{this.player_lname}}</td>
            <td>{{this.player_weight}}</td>
            <td>{{this.player_height}}</td>
            <td>{{this.player_dob}}</td>
            <td>{{this.player_position}}</td>
            <td><button onclick="deletePlayer({{this.player_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Player Form-->
    <form id="add-player-form-ajax" class="add-form">
            <legend>Add Player</legend>
            <ul>
            <fieldset class="fields">
                <li><input type="text" name="fname" id="input-fname" placeholder="First Name"></li>
                
                <li><input type="text" name="lname" id="input-lname" placeholder="Last Name"></li>
                
                <li><input type="number" name="weight" id="input-weight" placeholder="Weight"></li>
                
                <li><input type="number" name="height" id="input-height" placeholder="Height"></li>
                
                <li><input type="date" name="dob" value="2000-12-31" id="input-dob"></li>
                
                <li><select name="position" id="input-position" aria-placeholder="Select Position">
                <option value="C">C</option>
                <option value="RW">RW</option>
                <option value="LW">LW</option>
                <option value="RD">RD</option>
                <option value="LD">LD</option>
                </select></li>
                
            </fieldset>
            </ul>
            <input class="btn" type="submit" value="Add">
        </form>

<!-- Update Player Form-->

    
    <form id="update-player-form-ajax" class="add-form">
    <legend>Update Player</legend>
    <fieldset class="fields">
    <ul>
    
    <select name="input-fullname" id="mySelect" onchange="sendID(document.getElementById('mySelect').value)" required>
        <option value="test">Select a Player</option>
        {{#each data}}
        <option value="{{this.player_id}}">{{this.player_id}} : {{this.player_fname}} {{this.player_lname}}</option>
        {{/each}}
    </select>
    
    <li><input type="number" name="weight" id="input-weight-update" placeholder="Weight"></li>
    <li><input type="number" name="height" id="input-height-update" placeholder="Height"></li>
    <li><input type="date" name="dob" id="input-dob-update" placeholder=""></li>
    <select name="position" id="input-position-update">
                <option value="C">C</option>
                <option value="RW">RW</option>
                <option value="LW">LW</option>
                <option value="RD">RD</option>
                <option value="LD">LD</option>
    </select>
    </fieldset>
    </ul>
    <input type="submit">

</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_player.js"></script>
<script src="./js/fill_player.js"></script>
<script src="./js/update_player.js"></script>
<script src="./js/delete_player.js"></script>
