<!-- index.hbs -->
<head> 
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<h1>Team Canuck</h1>
<a href="/">Home</a> | <a href="/seasons">Seasons</a> | <a href="/players">Players</a>
<table border="1" cellpadding="5" id="player-table">

    {{!-- Header section --}}
    <thead>

        {{!-- Table headers --}}
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Date of Birth</th>
            <th>Position</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.player_id}}</td>
            <td>{{this.player_fname}}</td>
            <td>{{this.player_lname}}</td>
            <td>{{this.player_weight}}</td>
            <td>{{this.player_height}}</td>
            <td>{{this.player_dob}}</td>
            <td>{{this.player_position}}</td>
            <td><button onclick="deletePlayer({{this.player_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Player Form-->
    <form id="add-player-form-ajax">
            <legend>Add Player</legend>
            <fieldset class="fields">
                <label>First Name</label>
                <input type="text" name="fname" id="input-fname">
                <label>Last Name</label>
                <input type="text" name="lname" id="input-lname">
                <label>Weight</label>
                <input type="text" name="weight" id="input-weight">
                <label>Height</label>
                <input type="text" name="height" id="input-height">
                <label>Date of Birth</label>
                <input type="date" name="dob" value="2000-12-31" id="input-dob">
                <label for="position">Position:</label>
                <select name="position" id="input-position">
                <option value="C">C</option>
                <option value="RW">RW</option>
                <option value="LW">LW</option>
                <option value="RD">RD</option>
                <option value="LD">LD</option>
                </select>
            </fieldset>
            <input class="btn" type="submit" value="Add">
        </form>

<!-- Update Player Form-->

    <h4>Update Player</h4>
    <form id="update-player-form-ajax">
    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.player_id}}">{{this.player_id}} : {{this.player_fname}} {{this.player_lname}}</option>
        {{/each}}
    </select>
    <label for="input-weight">Weight: </label>
    <input type="number" name="weight" id="input-weight-update">
    <label for="input-height">Height: </label>
    <input type="number" name="height" id="input-height-update">
    <label for="input-dob">Date of Birth: </label>
    <input type="date" name="dob" id="input-dob-update">
    <label for="input-position">Position </label>
    <select name="position" id="input-position-update">
                <option value="C">C</option>
                <option value="RW">RW</option>
                <option value="LW">LW</option>
                <option value="RD">RD</option>
                <option value="LD">LD</option>
    </select>
    <input type="submit">

</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_player.js"></script>
<script src="./js/update_player.js"></script>
<script src="./js/delete_player.js"></script>
