<head> 
        <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<h1>Team Canuck</h1>

<div class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/injuries">Injury Report</a></li>
    <li><a href="/seasons">Seasons</a></li>
    </ul>
</div>

{{!-- Create a table --}}
<table id="seasons-table">

    {{!-- Header section --}}
    <thead>
                <tr>
                <th>ID</th>
                <th>Year</th>
                <th>Delete</th>
                <tr>

    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.season_id}}</td>
            <td>{{this.season_year}}</td>
            <td><button onclick="deleteSeason({{this.season_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Season Form-->
    <form id="add-season-form-ajax" class="add-form">
            <legend>Add Season</legend>
            <fieldset class="fields">
                <input type="number" name="year" id="input-year" placeholder="Year">
            </fieldset>
            <input class="btn" type="submit" value="Add">
        </form>

<!-- Update Season Form-->

    <h4>Update Season</h4>
    <form id="update-season-form-ajax" class="add-form">
    <legend>Update Season</legend>
    <fieldset class="fields">
    <ul>
    <li><select name="input-season" id="mySelect">
        <option value="test">Select a Season</option>
        {{#each data}}
        <option value="{{this.season_id}}">{{this.season_id}} : {{this.season_year}}</option>
        {{/each}}
    </select>
    </li>
    
    <li><input type="number" name="year" id="input-year-update" placeholder="Year"></li>
    </fieldset>
    </ul>
    <input type="submit">
    </form>

<script src="./js/add_season.js"></script>
<script src="./js/update_season.js"></script>
<script src="./js/delete_season.js"></script>