<head>
        <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<h1>Team Canuck</h1>

<div class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/injuries">Injury Report</a></li>
    <li><a href="/seasons">Seasons</a></li>
    </ul>
</div>

{{!-- Create a table --}}
<table id="teams-table">

    {{!-- Header section --}}
    <thead>
    <tr>
        <th>Team ID</th>
        <th>Team</th>
        <th>Delete</th>
    <tr>

    </thead>

    {{!-- Body section --}}
    <tbody>

    {{!-- For each row --}}
    {{#each data}}
        <tr>
            <td>{{this.team_id}}</td>
            <td>{{this.team_name}}</td>
            <td><button onclick="deleteTeam({{this.team_id}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<!-- Add Team Form-->
<form id="add-team-form-ajax" class="add-form">
    <legend>Add Team</legend>
    <fieldset class="fields">
        <input type="text" name="team-name" id="input-team-name" placeholder="Team Name">
    </fieldset>
    <input class="btn" type="submit" value="Add">
</form>

<!-- Update Team Form-->
<h4>Update Team</h4>
<form id="update-team-form-ajax" class="add-form">
    <legend>Update Team</legend>
    <fieldset class="fields">
    <select name="input-team" id="mySelect">
        <option value="test">Select a Team</option>
        {{#each data}}
            <option value="{{this.team_id}}">{{this.team_id}} : {{this.team_name}}</option>
        {{/each}}
    </select>
    <input type="text" name="team-name" id="input-team-update" placeholder="Team Name">
    </fieldset>
    <input type="submit">
    
</form>


<script src="./js/add_team.js"></script>
<script src="./js/update_team.js"></script>
<script src="./js/delete_team.js"></script>
